In [1]:
#import pandas
import pandas as pd

In [4]:
#importing csv file
measurements= pd.read_csv('flower_measurements.csv')

In [6]:
#print csv file
print (measurements)

          FLOWERS  AVERAGE WIDTH (cm)  AVERAGE HEIGHT (cm)
0            Rose                13.5                  6.4
1            Iris                10.0                  5.2
2            Lily                12.7                  9.0
3          Violet                 9.5                  6.0
4         Camelia                12.0                  5.0
5        Bluebell                16.0                  9.0
6           Tulip                15.0                  7.0
7          Orchid                22.0                  9.6
8       Carnation                14.0                  7.0
9           Pansy                19.0                  5.4
10  Forget_me_not                13.0                  7.0
11          Poppy                17.0                 10.0

In [7]:
#print first 5 rows
print (measurements.head(5))

   FLOWERS  AVERAGE WIDTH (cm)  AVERAGE HEIGHT (cm)
0     Rose                13.5                  6.4
1     Iris                10.0                  5.2
2     Lily                12.7                  9.0
3   Violet                 9.5                  6.0
4  Camelia                12.0                  5.0

In [8]:
#print out the data types
print (measurements.dtypes)

FLOWERS                 object
AVERAGE WIDTH (cm)     float64
AVERAGE HEIGHT (cm)    float64
dtype: object

In [10]:
#print out the data column
print(measurements.columns)

Index(['FLOWERS', 'AVERAGE WIDTH (cm)', 'AVERAGE HEIGHT (cm)'], dtype='object')

In [11]:
import numpy as np

In [12]:
#prints first two rows using array
measurements[0:2]

  FLOWERS  AVERAGE WIDTH (cm)  AVERAGE HEIGHT (cm)
0    Rose                13.5                  6.4
1    Iris                10.0                  5.2

In [47]:
#prints only the flower column using array
print (measurements['FLOWERS'])

0              Rose
1              Iris
2              Lily
3            Violet
4           Camelia
5          Bluebell
6             Tulip
7            Orchid
8         Carnation
9             Pansy
10    Forget_me_not
11            Poppy
Name: FLOWERS, dtype: object

In [35]:
print (measurements['FLOWERS'][0:4])

0      Rose
1      Iris
2      Lily
3    Violet
Name: FLOWERS, dtype: object

In [36]:
#giving details about the data set
details = measurements.describe()

In [37]:
print(details)

       AVERAGE WIDTH (cm)  AVERAGE HEIGHT (cm)
count           12.000000            12.000000
mean            14.475000             7.216667
std              3.611629             1.767295
min              9.500000             5.000000
25%             12.525000             5.850000
50%             13.750000             7.000000
75%             16.250000             9.000000
max             22.000000            10.000000

In [41]:
#convert dataset details to excel
details.to_excel('flower_details.xlsx')

In [42]:
#convert dataset details to csv
details.to_csv('flower_details.csv')